/*Fonts*/
@font-face {
    font-family: 'orbitron';
    src: url(Fonts/Orbitron-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'roboto';
    src: url(Fonts/Roboto-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: audiowide;
    src: url(Fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: oxanium;
    src: url(Fonts/Oxanium-Regular.ttf);
}
/*Key Frames*/
@keyframes bounce{
    0% , 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

:root{
    /* Theme-neutral Variables */
    --bg: var(--bg-dark);
    --section: var(--section-dark);
    --primaryText: var(--primaryText-dark);
    --secondaryText: var(--secondaryText-dark);
    --borders: var(--borders-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --icon: var(--icon-dark);
    --logo: var(--logo-dark);
    --shadow : var(--shadow-dark);
    --color1 : var(--color1-dark);

    /*Variables*/
    --bg-light : #bbc9dd;
    --bg-dark : #0d1117;

    --section-light : #e4e7eb ; 
    --section-dark : #161b22;

    --primaryText-light: #0d1117 ;
    --primaryText-dark: #e6edf3 ;

    --secondaryText-light: #4b5563 ;
    --secondaryText-dark : #8b949e ;

    --borders-light: #d1d5db ;
    --borders-dark: #96989c;

    --accent1-light: #00c6ff ;
    --accent1-dark: #5ee7df ;

    --accent2-light: #6eacf7 ;
    --accent2-dark: #57c1db ;

    --icon-light: #4b5563 ;
    --icon-dark : #e6edf3 ;

    --logo-light: src: url("../Logo/logo-purple.png");
    --logo-dark: src: url("../Logo/logo-white2.png");

    --color1-light: #9d00ff;
    --color1-dark: #21b128 ;
     
}

/*Adjusting For smaller screens*/

@media (min-width:861px){
    /*DISPLAY SIDE BAR */
    .side-nav{
    display: none !important;
    }
    
}

@media (max-width: 860px){
    /*NAVBAR*/
    .mainbar ul{
        display: none !important;
    }

}

@media (max-width:700px) and (min-width:450px){
    /*FIXING THE HERO IN THE HOME PAGE(TOO BIG) */
    #p1Hero{
        margin-left: 0;
        margin-top: 5rem ;
        font-size: 60px !important;
        letter-spacing: 0.05em;
        white-space: nowrap;
    }

    .typing-container{
        font-size: 15px !important;
    }

    #view-projects{
        font-size: 16px !important;
        font-weight: 900 !important;
    }

    .spacer.scHome{
        position: absolute !important;
        left: 44% !important;
        transform: translateX(-50%) !important;
        top: unset !important;
        bottom: 30% !important;
    }

    .social-icons-container{
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

        /*Images*/
        .preview img{
            width: 8rem !important;
            height: 4rem !important;
        }
    
}


@media (max-width:450px){
    /*FIXING HERO HOME PAGE*/
    #p1Hero{
        margin-left: 0;
        margin-top: 5rem ;
        font-size: 40px !important;
        letter-spacing: 0.05em;
        white-space: nowrap;
    }

    .typing-container{
        font-size: 15px !important;
    }

    #view-projects{
        font-size: 16px !important;
        font-weight: 900 !important;
    }

    .spacer.scHome{
        position: absolute !important;
        left: 44% !important;
        transform: translateX(-50%) !important;
        top: unset !important;
        bottom: 30% !important;
    }
    /*FIXING CARDS*/
    body{
        font-size: .8rem !important;
    }

    .strength{
        max-width: 70px !important;
        font-size: .6rem !important;
    }

    .strength-icon{
        min-width: none !important;
    }

    /*Skills Page*/
    .myJourney-text-container{
        font-size: .8rem;
    }

    /*Projects page*/
    .descriptionHero{
        font-family: orbitron !important;
        font-size: .7rem !important;
        font-weight: 700;
    }

    .description-project h3{
        font-size: .5rem !important;
    }

.projects-container{
    gap: 10px !important;
    margin-right: 5px !important;
    margin-left: 0 !important;
}

    /*Images*/
    .preview img{
        width: 6rem !important;
        height: 3rem !important;
    }

    /*Footer*/

    .footer-logo {
        width: 180px !important;
    }

    .social-icon.instagram , .social-icon.telegram , .social-icon.email{
        font-size: 1rem !important;
    }
    footer .nav-list{
        font-size: .5rem !important;
    }
}
    /*Footer*/

    .footer-logo {
        width: 180px !important;
    }

    .social-icon.instagram , .social-icon.telegram , .social-icon.email{
        font-size: 1rem !important;
    }
    footer .nav-list{
        font-size: .5rem !important;
    }


@media (max-width:650px) and (min-width=450px){
    .preview img{
        /*FIXING IMAGES IN PROJECTS*/
        width: 8rem !important;
        height: 5rem !important;
    }
}

*:focus{
    outline: none;
    box-shadow: none;
} 

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    display: felx;
    height: 100dvh;
    height: 100svh;
    font-family:Arial, Helvetica, sans-serif;
    background: var(--bg);
    transition: background 0.4s ease;
    color: var(--secondaryText);
    overflow-x: hidden;
    font-family: oxanium;
    letter-spacing: 2px;
}

/*********************************************************************************************************************/

/*Nav Bar Container*/
nav{
 /*   border: 2px solid ; /*DELETE*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 8dvh;
    position: fixed; /*Modify*/
    top: 5px;
    width: 100%;
    z-index: 999;
    padding-top: 2px;
    margin: 0 2px ;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}

/*Side Bar*/
.side-nav{
 /*   border: 2px solid var(--icon); /*DELETE*/
    border-radius: 25px;
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 2rem;
    padding: .5rem 0;
    z-index: 1000;
    transition: opacity .2s ease ;
    cursor: pointer;
    user-select:none;
  }

  .SN{
    color: #888;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  
  .SN:hover{
    color: var(--icon);
    transform: scale(1.1);
  }


/*Logo*/
.logo{
  /*  border: 2px solid green; /*DELETE*/
    margin-left: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.logo #logoNav{
    width: 100px;
}

/*Nav Elements*/
.nav-list{
 /*   border: 2px solid; /*DELETE*/
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: audiowide;
    gap: 4rem;
    padding-left: 0;
    font-size: 1.2rem;
    width: 100%;
    margin-right: 0;
    width: fit-content;
}

.mainbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.nav-list li{
  /*  border: 2px solid; /*DELETE*/
    color: var(--primaryText);
    cursor: pointer;
    position: relative;
    user-select: none;
}

.nav-list li::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primaryText);
    transition: width .3s ease;
}
.nav-list li:hover::after{
    transition: .3s;
    width: 100%;
}

.nav-list li:active::after{
    width: 75%;
    height: 4px;
}

.nav-list li.active::after{
    transition: width .3s ease;
    width: 100%;
    height: 3px;
}

/*Dark Mode Button*/

.socket{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    margin-right: .6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: var(--bg-);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25) ;
    transition: background 0.3s ease;
    cursor: pointer;
    margin-left: .8rem;
}

#iconMoon{
    font-size: 1.1rem;
    transition: color 0.3s ease;
    z-index: 1;
}

.socket-shadow{
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 1;
    transition: opacity 0.3s ease;
    box-shadow: 0em 0.075em 0.1em 0em rgb(0, 0, 0);
}

.light-mode{
    background: var(--bg);
    box-shadow: -0.05em 0.1em 0.2em -0.2em rgb(113, 110, 110);
}

.light-mode#iconMoon{
    color: var(--icon-light);
}

.light-mode.socket-shadow{
    opacity: 0;
}

/*********************************************************************************************************************/

/*Home Page*/
section#home-page{
    border-bottom: 2px solid var(--borders); 
    border-radius: 15px;
    display: flex;
    margin-top: 3dvh;
    margin-bottom: 5rem;
    padding-top: 2rem;
    height: 90dvh;
    position: relative;
    background-color: var(--section);
}

/*Hero*/
#p1Hero{
 /*   border: 2px solid; /*DELETE*/
    font-family: orbitron;
    font-size: 120px;
    margin-left: 1.5rem;
    margin-bottom: 0;
    color: var(--primaryText);
}

/*Typing Text*/
.typing-container{
  /*  border: 2px solid green; /*DELETE*/
    font-family: audiowide;
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-left: 1.4rem;
    max-width: 45ch;
    user-select: none;
    overflow: hidden;
    white-space: pre-line;
    margin-left: 1.5rem;
    width: fit-content;
    min-height: 5rem;
    margin-bottom: .5rem;
    transition: all .2s ease;
}

/*View Projects*/
#view-projects{
 /*   border: 2px solid; /*DELETE*/
    position: relative;
    text-decoration: none;
    margin-top: .2rem;
    margin-left: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--secondaryText);
}

#view-projects:hover{
    transition: .2s;
    color: var(--primaryText);
}

#view-projects::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primaryText);
    transition: width .2s ease;
}
#view-projects:hover::after{
    transition: .2s;
    width: 86%;
}

#view-projects:active::after{
    width: 86%;
    height: 4px;
}

#arrow{
    opacity: 0;
    font-weight: 100;
}

#view-projects:hover #arrow{
    opacity: 1;
}

/*Social Icons*/
.social-icons-container{
   /* border: 2px solid; /*DELETE*/
   display: inline-flex;
   position: absolute;
   bottom: 5%;
   left: 3%;
   color: var(--secondaryText);
   gap: 5rem;
   font-size: 1.1rem;
   transition: color .4s ease;
   
}

.social-icon.instagram, .social-icon.telegram , .social-icon.email{ 
    font-size: 1.3rem;
    color: var(--secondaryText); 
}

.social-icons-container span:hover{
    color: var(--primaryText) ;
    cursor: pointer;
}



/*Spacer*/
.spacer{
      /* border: 2px solid palevioletred; /*DELETE*/
       position: relative;
       height: 3.2rem;
       left: 50%;
       transform: translateX(-50%);
       top: 10rem;
       user-select: none ;
   }   

/*Scroll Down */
.scroll-down{
 /*   border: 2px solid white; /*DELETE*/
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 2.5rem;
    color: var(--secondaryText); 
    cursor: pointer;
    text-decoration: none;
    animation: bounce 1.5s infinite;
}

.scroll-down:hover{
    transition: color .3s ease-out;
    color: var(--primaryText);
}

/*************************************************************************************************************/

/*About Page*/
section#about-page{
    min-height: 140dvh;
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    border-radius: 15px;
    margin-bottom: 5rem;
    background-color: var(--section);
    position: relative;
}

/*About Me Text*/
#p2Hero{
 /*   border: 2px solid; /*DELETE*/
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: var(--primaryText);
}

.colored-text{
    background: linear-gradient(90deg, var(--accent1), var(--accent2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: .2rem;
    font-weight: 900;
    position: relative;
    user-select: none;
}

.colored-text::after{
    content: '';
    position: absolute;
    left: 3px;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, var(--accent1), var(--accent2));
    border-radius: 2px;
}

/*My Journey*/
.myJourney-text-container{
    border: 2px solid var(--borders);  
    border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 30px;
    margin-left: 0;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1.5rem;
    grid-column: 1/-1;
}

.myJourney-text-container h2{ 
    color: var(--primaryText);
}

span#highlited-text{
    color: var(--primaryText);
}

/*Summary*/
.summary-box{
    border: 2px solid var(--borders);
    display: inline-block;
    justify-content: flex-start;
    padding: .5rem 1rem;
    border-radius: 25px;
    margin-top: 1rem;
    margin-right: 5rem;
    color: var(--primaryText);
}

.summary-box.ft{
    margin-right: 1rem;
}

.summary-box i{
    font-size: .7rem;
    position: relative;
    bottom: 1px;
    right: 5px;
}

/*Strengths Cards*/
.strengths-container{
 /*   border: 2px solid red;  /*DELETE*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 2rem;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 12px;
    margin-bottom: 15rem;  /*FIX*/
    text-align: centre ;             /*TEST*/
}

.strength{
    border: 2px solid var(--borders);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 15px ;
    padding-right: 1rem ;
    padding-left: 1.2rem ; 
    position: relative;
    max-width: 785px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primaryText);
}

.strength h3{
    color: var(--secondaryText);
}

.strength-icon{
    border: 2px solid var(--borders);
    border-radius: 50px;
    width: fit-content;
    min-width: 40px;
    padding: 1rem;
    position: relative;
    top: 3%;
    font-size: 1.5rem;
    color: var(--primaryText);
}

.strength-icon.rocket{
    background-color: #3cb371;
}

.strength-icon.code{
    background-color: #4682b4;
}

.strength-icon.vial{
    background-color: #daa520;
}

.strength-icon.chart{
    background-color: #cd5c5c;
}

/*Spacer*/
.spacer.scAbout{
    position: absolute;
    top: unset;
    bottom: 5%;
    left: 48%;
    transform: translateX(-50%);
}

/************************************************************************************************************************/
/*Skills Page*/
section#skills-page{
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    border-radius: 15px;
    min-height: 100dvh;
    background-color: var(--section);
    position: relative;
}

#p3Hero{
 /*   border: 2px solid; /*DELETE*/
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: var(--primaryText);
}

.skills-container{
  /*  border: 2px solid;  /*DELETE*/
    display: grid;
    gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 15rem  ;  /*FIX*/
}

.skills-hero{
    border: 2px solid var(--borders); 
    margin-left: 2rem;
    padding: .5rem 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    color: var(--primaryText);
}

.skill-content{
    border: 2px solid var(--borders); 
    padding: .5rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
}

.skill-cards{
 /*   border: 2px solid green; /*DELETE*/
    display: inline-block;
    justify-content: space-between;
}

.skills{
    border: 2px solid var(--borders); 
    display: inline-block;
    width: fit-content;
    min-width: 100px;
    margin-right: 25px;
    padding: .3rem 1rem;
    border-radius: 25px;
    margin-bottom: .5rem;
    color: var(--primaryText);
    position: relative;
    overflow: hidden;
    transition: background .3s ease ;
    z-index: 1;
    user-select: none;
}

.skills.boxing i{
    padding-right: 5px;
}


/*

.skills span{
    z-index: 1;
    position: relative;
    user-select: none;
}

.skills::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #828ece,#2196f3,#26c6da);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 0;
}

.skills:hover::before{
    opacity: 1;
}

*/


.skills.c:hover{
    background-color: #5c6bc0;
}
.skills.java:hover{
    background-color: #f57c00;
}
.skills.html:hover{
    background-color: #e44d26 ;
}
.skills.css:hover{
    background-color: #2196f3 ;
}
.skills.js:hover{
    background-color: #e2ae12 ;
}
.skills.mysql:hover{
    background-color: #00618a;
}
.skills.alg:hover{
    background-color: #8e24aa ;
}


.skills.chess:hover{
    background-color: #6d4c41;
}

.skills.boxing:hover{
    background-color: #dc5b5b;
}

.skills.design:hover{
    background-color: #1e9eae;
}

.skills.books:hover{
    background-color: #7b1fa2;
}

/*Spacer*/
.spacer.scSkills{
    position: absolute;
    top: unset;
    bottom: 5%;
    left: 48%;
    transform: translateX(-50%);
}

/********************************************************************************************************/

/*Projects Page*/
#projects-page{
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    border-radius: 15px;
    min-height: 100dvh;
    margin-top: 5rem;
    background-color: var(--section);
    position: relative;
}

/*My Projects Text*/
#p4Hero{
       display: flex;
       justify-content: center;
       margin-top: 2rem;
       color: var(--primaryText);
   }



   /*Projects Page*/
#contact-page{
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    border-radius: 15px;
    min-height: 100dvh;
    margin-top: 5rem;
    background-color: var(--section);
}

/*My Projects Text*/
#p5Hero{
       display: flex;
       justify-content: center;
       margin-top: 2rem;
       color: var(--primaryText);
   }

/*Projects Container*/
.projects-container{
  /*  border: 2px solid; /*DELETE*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 2rem;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 15rem;  /*FIX*/
}

/*Projects Cards*/
.myProject{
    border: 2px solid var(--borders);
    border-radius: 15px;
    padding: 20px;
    position: relative;
    max-width: 785px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primaryText);
}

.preview{
 /*   border: 2px solid red;  /*DELETE*/
    display: flex;
    justify-content: center;
    min-width: none;
    padding: none;
    margin-bottom: .5rem;
}

.preview img{
    display: flex;
    background-size: contain;
    width: fit-content;
    width: 30rem;
    height: 7rem;
    min-width: none;
}

.descriptionHero{
 /*   border: 2px solid; /*DELETE*/
    font-size: 1.5rem;
    color: var(--primaryText);
}

.description-project h3{
    color: var(--secondaryText);
}

/*Spacer*/
.spacer.scProjects{
    position: absolute;
    top: unset;
    bottom: 5%;
    left: 48%;
    transform: translateX(-50%);
}


/*********************************************************************************************************/
/*Contact Page*/
section#Contact-page{
    border-top: 2px solid var(--borders);
    border-bottom: 2px solid var(--borders);
    border-radius: 15px;
    min-height: 100dvh;

    background-color: var(--section);
    position: relative;
}

.connection-container{
    border: 2px solid var(--accent1);
    display:grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0;
    width: fit-content;
    position: relative;
    padding: 2rem 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    margin-top: 5rem;
}

.social-icons-down{
    border: 2px solid var(--borders);
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    max-height: 10rem;
    cursor: pointer;
    transition: color .3s ease , border .3s ease;
    color: var(--secondaryText);
    border-radius: 15px;

}

.social-icons-down.linkedin{
    margin-bottom: 0;
}

.social-icons-down i{
    font-size: 2rem;
    margin-bottom: .2rem;
}

.social-icons-down:hover{
    color: var(--accent1);
    border: 2px solid var(--accent1);
}

/*
.connectWithUs-text{
    border: 2px solid var(--borders);
    color: var(--color1);
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: .5rem 10rem;
    border-radius: 25px;
}
*/

a{
    text-decoration: none !important;
}



/*Footer nav list*/

footer{
    position: relative;
    height: 38vh;
}

.footer-logo{
  /*  border: 2px solid; /*DELETE*/
    width: fit-content;
    height: fit-content;
    width: 250px;
    height: auto;
    position: relative;
    top: -3.3rem;
    right: 1rem;
}

.footer-logo img{
    height: auto;
    display: flex;
}

.footer-social-icons-container{
  /*  border: 2px solid;  /*DELETE*/
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    margin-left: 3rem;
    margin-top: 0;
    position: absolute;
    top: 25%;
}

.social-icon.instagram , .social-icon.telegram , .social-icon.email{
    color: var(--icon);
    transition: color .2s ease;
    font-family: roboto;
}

.social-icon:hover{
    color: var(--accent2);
}

footer .nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    margin: 0;
    font-size: 1rem;
    gap: 30px;
    margin-right:1.5rem ;
}

footer .nav-list h1{
    user-select: none;
    margin-bottom: .1rem;
}
